<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>FreelanceConnect</title>
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	
	<link href="/css/add-info.css" rel="stylesheet">
</head>
<body>
	<div th:fragment="container">
		<div class="row">
			<div class="col-5">
				<form class="col-6" action="#" id="myform" th:action="@{/add-info}" th:object="${createInfo}" method="POST">
					<div class="mb-3" >
						<label for="id" class="form-label small m-0">Your Account Id Is:</label>
						<input th:field="${createInfo.id}" th:value="${createInfo.id}" readonly style='width: 200px; height: 30px;'></input>
					</div>
					<h4>Location Info</h4>
					<div class="mb-3">
						<label for="address1" class="form-label small m-0">Address Line 1</label>
						<input type="text" style='width: 200px; height: 30px;' name="address1" class="form-control form-control-sm" id="address1" th:field="${createInfo.address1}" >
					</div>
					<div class="mb-3">
						<label for="address2" class="form-label small m-0">Address Line 2</label>
						<input type="text" style='width: 200px; height: 30px;' name="address2" class="form-control form-control-sm" id="address2" th:field="${createInfo.address2}">
					</div>
					<div class="mb-3">
						<label for="city" class="form-label small m-0">City</label>
						<input type="text" style='width: 200px; height: 30px;' name="city" class="form-control form-control-sm" id="city" th:field="${createInfo.city}">
					</div>
					<div class="mb-3">
						<label for="province" class="form-label small m-0">Province/State</label>
						<input type="text" style='width: 200px; height: 30px;' name="province" class="form-control form-control-sm" id="province" th:field="${createInfo.province}">
					</div>
					<div class="mb-3">
						<label for="country" class="form-label small m-0">Country</label>
						<input type="text" style='width: 200px; height: 30px;' name="country" class="form-control form-control-sm" id="country" th:field="${createInfo.country}">
					</div>
					<h4>Account Info</h4>
					<div class="mb-3" >
						<label for="name" class="form-label small m-0">Name</label>
						<input type="text" th:field="${createInfo.name}" th:value="${createInfo.name}" style='width: 200px; height: 30px;' name="name" class="form-control form-control-sm" id="name">
					</div>
					<div class="mb-3">
						<label for="email" class="form-label small m-0">Email address</label>
						<input type="text" th:field="${createInfo.email}" th:value="${createInfo.email}" style='width: 200px; height: 30px;' name="email" class="form-control form-control-sm" id="email">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label small m-0">Password</label>
						<input type="password" th:field="${createInfo.password}" style='width: 200px; height: 30px;' class="form-control form-control-sm" id="password" autocomplete="new-password">
					</div>
					<h4>Work Experience</h4>
					<div class="mb-3">
						<label for="title" class="form-label small m-0">Title</label>
						<input type="text" style='width: 200px; height: 30px;' name="title" class="form-control form-control-sm" id="title" th:field="${createInfo.title}" >
					</div>
					<div class="mb-3">
						<label for="company" class="form-label small m-0">Company</label>
						<input type="text" style='width: 200px; height: 30px;' name="company" class="form-control form-control-sm" id="company" th:field="${createInfo.company}">
					</div>
					<div class="mb-3">
						<label for="hireDate" class="form-label small m-0">Date of Hire</label>
						<input type="date" style='width: 200px; height: 30px;'name="hireDate" class="form-control form-control-sm" id="hireDate" th:field="${createInfo.dateOfHire}"/>
					</div>
					<div class="mb-3">
						<label for="quitDate" class="form-label small m-0">Date of Departure</label>
						<input type="date" style='width: 200px; height: 30px;'name="quitDate" class="form-control form-control-sm" id="quitDate" th:field="${createInfo.dateOfQuit}"/>
					</div>
					<h4>Skills</h4>
					<div class="mb-3">
						<label for="skills" style='width: 200px; height: 30px;' class="form-label small m-0">Please enter any skills you would like potential employers to know</label>
						<textarea rows="4" cols="30" style='width: 200px; height: 30px;' name="skills" class="form-control form-control-sm" id="skills" th:field="${createInfo.skills}" />
					</div>
					<button type="submit" style='width: 200px; height: 45px;' class="btn btn-primary">Submit</button>
					</td>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<script th:fragment="script">
		$("#myform").validate({
			rules: {
				name: {
					required: true
				},
				email: {
					required: true,
					email: true
				},
				password: {
					required: true,
					minlength: 6
				},
			},
			messages: {
				name: "Please specify your name",
				email: {
					required: "Email address is needed.",
					email: "Email address must be in the format of name@domain.com"
				},
				password: {
					required: "Change your password now, or type it in to confirm other changes",
					minlength: "Password must be atleast 6 characters long",
				},
			}
		});
	</script>
</body>
</html>