<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<div th:fragment="container">
		<form id="form" class="row h-100" th:object="${application}" method="post" action="">
			<input type="submit" class="d-none" value="save" name="action" />
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{userId}" />
			<input type="hidden" th:field="*{jobId}" />
			<input type="hidden" th:field="*{applicationStatus}" />
			<div class="col-12 col-md-6 col-lg-4">
				<h4>Personal Information</h4>
				<div class="field mb-2">
					<label for="name" class="form-label small m-0">Full Name</label>
					<input type="text" th:field="*{name}" class="form-control form-control-sm" id="name">
					<th:block th:if="${errors?.containsKey('name')}">
						<label class="error" th:text="${errors?.name}"></label>
					</th:block>
				</div>
				<div class="field mb-2">
					<label for="addressLine1" class="form-label small m-0">Address Line 1</label>
					<input type="text" th:field="*{addressLine1}" class="form-control form-control-sm"
						id="addressLine1">
					<th:block th:if="${errors?.containsKey('addressLine1')}">
						<label class="error" th:text="${errors?.addressLine1}"></label>
					</th:block>
				</div>
				<div class="field mb-2">
					<label for="addressLine2" class="form-label small m-0">Address Line 2</label>
					<input type="text" th:field="*{addressLine2}" class="form-control form-control-sm"
						id="addressLine2">
				</div>
				<div class="field mb-2">
					<label for="city" class="form-label small m-0">City</label>
					<input type="text" th:field="*{city}" class="form-control form-control-sm" id="city">
					<th:block th:if="${errors?.containsKey('city')}">
						<label class="error" th:text="${errors?.city}"></label>
					</th:block>
				</div>
				<div class="field mb-2">
					<label for="province" class="form-label small m-0">Province</label>
					<input type="text" th:field="*{province}" class="form-control form-control-sm" id="province">
					<th:block th:if="${errors?.containsKey('province')}">
						<label class="error" th:text="${errors?.province}"></label>
					</th:block>
				</div>
				<div class="field mb-2">
					<label for="country" class="form-label small m-0">Country</label>
					<input type="text" th:field="*{country}" class="form-control form-control-sm" id="country">
					<th:block th:if="${errors?.containsKey('country')}">
						<label class="error" th:text="${errors?.country}"></label>
					</th:block>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<h4>Related Work Experience</h4>
				<th:block th:each="workExperience, stat : ${workExperienceList}">
					<div class="px-3 border py-1 mb-4 experience">
						<input type="hidden" th:value="${workExperience.id}"
							th:name="'workExperienceList['+ ${stat.index} + '].id'" />
						<div class="field mb-2" th:with="key='workExperienceList_'+ ${stat.index} + '_title'">
							<label th:for="'workExperienceList['+ ${stat.index} + '].title'"
								class="form-label small m-0">Job Title</label>
							<input type="text" th:value="${workExperience.title}"
								th:name="'workExperienceList['+ ${stat.index} + '].title'"
								class="form-control form-control-sm"
								th:id="'workExperienceList['+ ${stat.index} + '].title'">
							<th:block th:if="${errors?.containsKey(key)}">
								<label class="error" th:text="${errors[__${key}__]}"></label>
							</th:block>
						</div>
						<div class="field mb-2" th:with="key='workExperienceList_'+ ${stat.index} + '_company'">
							<label th:for="'workExperienceList['+ ${stat.index} + '].company'"
								class="form-label small m-0">Company</label>
							<input type="text" th:value="${workExperience.company}"
								th:name="'workExperienceList['+ ${stat.index} + '].company'"
								class="form-control form-control-sm"
								th:id="'workExperienceList['+ ${stat.index} + '].company'">
							<th:block th:if="${errors?.containsKey(key)}">
								<label class="error" th:text="${errors[__${key}__]}"></label>
							</th:block>
						</div>
						<div class="field mb-2" th:with="key='workExperienceList_'+ ${stat.index} + '_location'">
							<label th:for="'workExperienceList['+ ${stat.index} + '].location'"
								class="form-label small m-0">Location</label>
							<input type="text" th:value="${workExperience.location}"
								th:name="'workExperienceList['+ ${stat.index} + '].location'"
								class="form-control form-control-sm"
								th:id="'workExperienceList['+ ${stat.index} + '].location'">
							<th:block th:if="${errors?.containsKey(key)}">
								<label class="error" th:text="${errors[__${key}__]}"></label>
							</th:block>
						</div>

						<div class="field mb-2"
							th:with="key_one='workExperienceList_'+ ${stat.index} + '_fromDate', key_two='workExperienceList_'+ ${stat.index} + '_toDate'">
							<label for="location" class="form-label small m-0">Duration</label>
							<div class="input-group input-group-sm">
								<label th:for="'workExperienceList['+ ${stat.index} + '].fromDate'"
									class="input-group-text">From</label>
								<input type="text" th:value="${workExperience.fromDate}"
									th:name="'workExperienceList['+ ${stat.index} + '].fromDate'"
									class="form-control datepicker"
									id="'workExperienceList['+ ${stat.index} + '].fromDate'">
								<label th:for="'workExperienceList['+ ${stat.index} + '].toDate'"
									class="input-group-text toDate"
									th:class="${workExperience.currentlyWorking} ? 'input-group-text d-none toDate': 'input-group-text toDate'">To</label>
								<input type="text" th:value="${workExperience.toDate}"
									th:name="'workExperienceList['+ ${stat.index} + '].toDate'"
									class="form-control toDate"
									th:class="${workExperience.currentlyWorking} ? 'form-control datepicker d-none toDate': 'form-control datepicker toDate'"
									id="'workExperienceList['+ ${stat.index} + '].toDate'">
							</div>
							<th:block th:if="${errors?.containsKey(key_one)}">
								<label class="error" th:text="${errors[__${key_one}__]}"></label>
							</th:block>
							<th:block th:if="${errors?.containsKey(key_two)}">
								<label class="error" th:text="${errors[__${key_two}__]}"></label>
							</th:block>
						</div>

						<div class="field mb-2 d-flex justify-content-between">
							<div class="form-check">
								<input type="checkbox" th:checked="${workExperience.currentlyWorking}"
									th:name="'workExperienceList['+ ${stat.index} + '].currentlyWorking'"
									class="form-check-input currentlyWorking"
									th:id="'workExperienceList['+ ${stat.index} + '].currentlyWorking'">
								<label class="form-check-label small"
									th:for="'workExperienceList['+ ${stat.index} + '].currentlyWorking'">I currently
									work here</label>
							</div>
							<th:block th:if="${canApply == true}">
								<button type="submit" value="delete"
									th:name="'workExperienceList['+ ${stat.index} + '].action'"
									class="btn btn-danger btn-sm rounded-circle float-end removeExperience"><i
										class="fa-solid fa-trash"></i></button>
							</th:block>

						</div>
					</div>
				</th:block>
				<th:block th:if="${canApply == true}">
					<button id="newExperience" type="submit" name="action" value="addNewExperience"
						class="btn btn-warning btn-sm rounded-circle float-end mb-3"><i
							class="fa-solid fa-plus"></i></button>
				</th:block>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<h4>Related skills</h4>

				<th:block th:each="skill, stat : ${skillList}">
					<input type="hidden" th:value="${skill.id}" th:name="'skillList['+ ${stat.index} + '].id'" />
					<div class="field mb-2" th:with="key='workExperienceList_'+ ${stat.index} + '_name'">
						<div class="input-group input-group-sm">
							<input type="text" th:value="${skill.name}" th:name="'skillList['+ ${stat.index} + '].name'"
								class="form-control">
							<th:block th:if="${canApply == true}">
								<button type="submit" class="btn btn-danger" value="delete"
									th:name="'skillList['+ ${stat.index} + '].action'"><i
										class="fa-solid fa-trash"></i></button>
							</th:block>

						</div>
						<th:block th:if="${errors?.containsKey(key)}">
							<label class="error" th:text="${errors[__${key}__]}"></label>
						</th:block>
					</div>
				</th:block>
				<th:block th:if="${canApply == true}">
					<button id="newSkill" type="submit" name="action" value="addNewSkill"
						class="btn btn-warning btn-sm rounded-circle float-end mb-3"><i
							class="fa-solid fa-plus"></i></button>
				</th:block>

			</div>

			<div class="col-12 d-flex justify-content-between sticky-bottom align-self-end bg-light border-top py-2">
				<div>
					<label class="align-self-start success" th:text="${success}"></label>
				</div>
				<div>

					<th:block th:if="${canApply == true}">
						<button class="btn btn-success btn-sm ms-4" type="submit" value="save"
							name="action">Save</button>
						<button class="btn btn-warning btn-sm ms-4" type="submit" value="next"
							name="action">Next</button>
					</th:block>
					<th:block th:if="${canApply == false}">
						<a class="btn btn-warning btn-sm ms-4"
							th:href="@{'/freelancer/jobs/' + ${job_id} + '/upload'}">View Next Page</a>
					</th:block>

				</div>
			</div>
		</form>
	</div>


	<script th:fragment="script">

		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});

		$(document).on("change", ".currentlyWorking", function () {
			$(this).closest(".experience").find(".toDate").toggleClass("d-none");
		});
	</script>
</body>

</html>