<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<div th:fragment="container">


		<div class="row">
			<div class="col-6 offset-3 mt-5">
				<h1 class="text-center">Welcome to Freelance Connect</h1>
				<h3 class="mt-5 text-center">Our goal is to connect employers and freelances through a
					streamlined process.
					Employers can post jobs with specific tags,
					freelancers filter jobs by tags,
					and a chat feature facilitates communication after
					initial screening. The keyword based resume
					filtering adds an extra layer of efficiency to connect Freelancers and Employers.</h3>
			</div>
		</div>
	</div>

	<script th:fragment="script">

	</script>
</body>

</html>