html,
body {
	height: 100%;
	overflow: hidden;
}

.w-container {
	width: 60%;
	min-width: 400px;
}

.h-container {
	min-height: 510px;
}

.img {
	width: 60%;
	height: 100%;
}

form label.error {
	font-size: 9pt;
	color: rgb(220, 53, 69);
	position: relative;
	top: -6px;
	width: 100%;
	white-space: nowrap;
}

form label.success{
	font-size: 10pt;
	color: rgb(13, 202, 240);
	position: relative;
	width: 100%;
	white-space: nowrap;
}

form.field:has(> label.error) {
	margin-bottom: 0 !important;
}

form label a, form label a:visited, form label a:active{
	text-decoration: none;
	color: inherit;
}
form label a:hover{
	text-decoration: underline;
}

.question{
	text-decoration: none;
}
.question:hover{
	text-decoration: underline;
}

@media (max-width: 1200px) {
	.w-container {
		width: 85% !important;
	}
}

@media (max-width: 1024px) {
	.w-container {
		width: 95% !important;
	}
}