<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Freelance Connect</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/fontawesome.all.min.css" rel="stylesheet">
	<link href="/css/layout.css" rel="stylesheet">

	<script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div class="d-flex bg-dark h-100 flex-column">
		<nav class="navbar navbar-expand-md navbar-dark bg-black">
			<div class="container-fluid">
				<a class="navbar-brand m-0 p-0" style="width: 270px;" href="/">Freelance
					Connect</a>
				<button class="navbar-toggler btn-sm border-1 mb-sm-3" data-bs-toggle="collapse"
					data-bs-target="#topNav" aria-controls="topNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="fa-solid fa-bars fa-sm "></i>
				</button>
				<div class=" navbar-collapse" id="topNav">
					<span class="navbar-text pe-2 w-100 text-end text-capitalize"
						th:if="${#authentication.isAuthenticated()}">
						&nbsp;
					</span>
				</div>
			</div>
		</nav>

		<div class="d-flex flex-grow-1 text-center text-light flex-row align-items-center justify-content-center">
			<div class="text-start" style="width: 650px">
				<h1 class="text-uppercase">Oops!</h1>
				<h3 class="text-capitalize">This page could not be found</h3>
				<p class="text-uppercase">Sorry but the page you are looking for
					does not exist, have been removed.
					name changed or is temporarily unavailable</p>
				<a class="text-uppercase btn btn-info btn-sm" href="/">Go to homepage</a>
			</div>
		</div>
		<div class="d-flex bg-black">
			<div class="container text-center">
				<div class="row">
					<div class="col py-2">
						<span class="text-white-50">CSIS 3275 - Freelance Connect</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>