<!DOCTYPE html>
<html>

<head th:fragment="head (title)">
	<meta charset="ISO-8859-1">
	<title>FreelanceConnect</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/fontawesome.all.min.css" rel="stylesheet">
	<link href="/css/jquery-ui.min.css" rel="stylesheet">
	<link href="/css/jquery-ui.theme.min.css" rel="stylesheet">
	<link href="/css/layout.css" rel="stylesheet">
	
	<th:block th:if="${style != null && style}">
		<th:block th:replace="${view} :: style" />
	</th:block>

	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/moment.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/additional-methods.min.js"></script>
	<script src="/js/tinymce/tinymce.min.js"></script>
</head>

<body>
	<div class="d-flex flex-column h-100">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand m-0 p-0" style="width: 270px;" href="/">Freelance
					Connect</a>
				<button class="navbar-toggler btn-sm border-1 mb-sm-3" data-bs-toggle="collapse"
					data-bs-target="#topNav" aria-controls="topNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="fa-solid fa-bars fa-sm "></i>
				</button>
				<div class=" navbar-collapse" id="topNav">
					<ul class="navbar-nav me-auto mb-2 mb-md-0 ms-auto">
						<!--<li class="nav-item text-end">
							<a class="nav-link active" aria-current="page" href="#">Notifications</a>
						</li>-->
						<!--<li class="nav-item">
							<a class="nav-link d-none d-md-block" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link d-none d-md-block" href="#">Pricing</a>
						</li>-->
						<!--<li class="nav-item justify-content-end d-flex">
							<a class="nav-link align-self-center rounded-pill badge text-bg-light position-relative"
								href="#">
								New Messages
								<span
									class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
									5
									<span class="visually-hidden">New Messages</span>
								</span>
							</a>
						</li>-->
					</ul>
					<span class="navbar-text pe-2 w-100 text-end text-capitalize"
						th:if="${#authentication.isAuthenticated()}">
						[[${#authentication.principal.displayName}]]
					</span>
					<!--<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-warning rounded-circle" type="submit"><i class="fa-solid fa-user"></i></button>
					</form>-->
					<div class="d-flex float-end">
						<div class="dropdown">
							<button class="btn btn-outline-warning rounded-circle btn-sm" data-bs-toggle="dropdown">
								<i class="fa-solid fa-user"></i></button>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark p-0">
								<li><a class="dropdown-item text-sm" href="/logout">Logout <span
											class="border-start border-2 border-secondary ms-1 ps-2 py-0"><i
												class="fa-solid fa-arrow-right-from-bracket fa-xs"></i></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="d-flex flex-row flex-grow-1 overflow-hidden p-0">
			<div class="navbar d-flex align-items-start navbar-dark bg-dark">
				<div class="container-fluid" style="width: 280px;">
					<ul class="navbar-nav me-auto d-flex w-100">

						<th:block sec:authorize="${#authentication.principal.isEmployer}">

							<li class="nav-item w-100 border-bottom border-secondary" th:with="to='/employer/viewJob'">
								<a th:class="${g_path.contains(to)} ? 'nav-link active' : 'nav-link'" th:href="@{${to}}">My Job
									Postings</a>
							</li>
							<li class="nav-item w-100 border-bottom border-secondary"
								th:with="to='/employer/createJob'">
								<a th:class="${g_path.contains(to)} ? 'nav-link active' : 'nav-link'" th:href="@{${to}}">New
									Job Posting</a>
							</li>

						</th:block>

						<th:block sec:authorize="${#authentication.principal.isFreelancer}">


							<li class="nav-item w-100 border-bottom border-secondary"
								th:with="to='/freelancer/jobs'">
								<a th:class="${g_path.contains(to)} ? 'nav-link active' : 'nav-link'" th:href="@{${to}}">Job Postings</a>
							</li>
							<li class="nav-item w-100 border-bottom border-secondary"
								th:with="to='/freelancer/manage-profile'">
								<a th:class="${g_path.contains(to)} ? 'nav-link active' : 'nav-link'" th:href="@{${to}}">My
									Profile</a>
							</li>

						</th:block>
					</ul>
				</div>
			</div>
			<div class="container-fluid overflow-auto pt-2 position-relative">
				<th:block th:if="${view != null}">
					<th:block th:include="${view} :: container" />
				</th:block>
			</div>
		</div>
		<div class="d-flex bg-dark">
			<div class="container text-center">
				<div class="row">
					<div class="col py-2">
						<span class="text-white-50">CSIS 3275 - Freelance Connect</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<th:block th:if="${script != null && script}">
		<th:block th:replace="${view} :: script" />
	</th:block>
</body>

</html>